h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
#origem{
    font-family: monospace;
    text-align: justify;
}
#foto{
    border-radius: 80px;
}
body{
    background-color: #B9D6F2;
    color: #0353A4;
    padding: 0% 20%;
    text-align: center;
}

ul, ol{
    padding-left: 40%;
    text-align: left;
}